<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [text]="getBackButtonText()"
        defaultHref="/"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="project">
  <ion-item>
    <ion-icon
      aria-hidden="true"
      name="person-circle"
      color="primary"
    ></ion-icon>
    <ion-label class="ion-text-wrap">
      <h2>{{ project.name }}</h2>
    </ion-label>
  </ion-item>

  <div class="ion-padding">
    <h1>{{ project.title }}</h1>
    <p>
      {{ project.content }}
    </p>
  </div>
</ion-content>
